<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->

    <!-- bootstrap theme -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
    ></script>

    <script
      src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"
      crossorigin="anonumous"
    ></script>

    <!-- Load Bable -->
    <!-- order is important...BABEL should come at last -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body>
    <div id="root" class="container"></div>
  </body>

  <script>
    let mp3_files_string = "<%= filenames %>";
    let mp3_files = mp3_files_string.split(",");
    // console.log(mp3_files);
  </script>

  <script type="text/babel">
    const { Slider, Select, FormControl, InputLabel, MenuItem } = MaterialUI;
  </script>

  <script
    type="text/babel"
    src="javascripts/REACT/Components/SelectAudio.js"
  ></script>
  <script
    type="text/babel"
    src="javascripts/REACT/Components/Container.js"
  ></script>
  <!-- Index component -->
  <script type="text/babel" src="/javascripts/REACT/index.js"></script>
</html>
