<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->

    <!-- bootstrap theme -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
    ></script>
  </head>
  <body>
    <div id="root" class="container">
      <!-- <div style="text-align: center"> -->
      <button onclick="playPause()">Play/Pause</button>
      <button onclick="makeBig()">Big</button>
      <button onclick="makeSmall()">Small</button>
      <button onclick="makeNormal()">Normal</button>
      <br /><br />
      <video id="video1" width="420">
        <source
          src="./VIDEO/[HQ] Requiem for a dream (Piano cover) (720p_30fps_H264-128kbit_AAC).mp4"
          type="video/mp4"
        />

        Your browser does not support HTML video.
      </video>
      <!-- <p id="seek"></p> -->
      <!-- </div> -->
    </div>

    <script>
      var myVideo = document.getElementById("video1");
      // var seek = document.getElementById("seek");

      function playPause() {
        if (myVideo.paused) {
          myVideo.play();
          console.log(myVideo.currentTime);
        } else myVideo.pause();
      }

      function makeBig() {
        myVideo.width = 560;
      }

      function makeSmall() {
        myVideo.width = 320;
      }

      function makeNormal() {
        myVideo.width = 420;
      }
    </script>
  </body>
</html>
